extends base
include mixins/video

block content
    h2 Welcome to WeTube <br> Trending video list for you
    //-iteration
    each potato in videos
        //-mixins
        +video(potato)  
    else
        li Sorry Nothing Found.
